<nav id="sidebar" class="sidebar-wrapper ">
  <div class="sidebar-content ">
    <div class="sidebar-brand">
      <a href="javascript:void(0)">
        <img src="../../../assets/img/logo.svg" alt="">
      </a>
      <div class="d-sm-block d-md-none" id="close-sidebar" (click)="closeSidebar()">
        <img src="../../../assets/img/close.svg" alt="closesidebar">
      </div>
    </div>
<!-- > -->
    <!-- sidebar-search  -->
    <div class="sidebar-menu mt-4 mt-2 pl-2 pr-2">
      <ul>
        <li class="header-menu">
          <span>General</span>
        </li>
        <li class="sidebar-dropdown">
          <a href="javascript:void(0)">
            <!-- <i class="fa fa-tachometer-alt"></i> -->
            <img class="m-r-14" src="../../../assets/img/sidebar/dashboard.svg" alt="dashboard">
            <span>Dashboard</span>
          </a>
          <div class="sidebar-submenu">
            <ul>
              <li>
                <a href="javascript:void(0)">Dashboard 1
                  <span class="badge badge-pill badge-success">Pro</span>
                </a>
              </li>
              <li>
                <a href="javascript:void(0)">Dashboard 2</a>
              </li>
              <li>
                <a href="javascript:void(0)">Dashboard 3</a>
              </li>
            </ul>
          </div>
        </li>
        <li class="sidebar-dropdown">
          <a href="javascript:void(0)" class="active" routerLink="/submissions">
            <img class="m-r-14" src="../../../assets/img/sidebar/films.svg" alt="Films">
            <span>Film Submissions</span>
          </a>
          <div class="sidebar-submenu">
            <ul>
              <li>
                <a href="javascript:void(0)">Products

                </a>
              </li>
              <li>
                <a href="javascript:void(0)">Orders</a>
              </li>
              <li>
                <a href="javascript:void(0)">Credit cart</a>
              </li>
            </ul>
          </div>
        </li>
        <li class="sidebar-dropdown">
          <a href="javascript:void(0)">
            <img class="m-r-14" src="../../../assets/img/sidebar/filmmakers.svg" alt="filmmakers">

            <span>FilmMakers</span>
          </a>
          <div class="sidebar-submenu">
            <ul>
              <li>
                <a href="javascript:void(0)">General</a>
              </li>
              <li>
                <a href="javascript:void(0)">Panels</a>
              </li>
              <li>
                <a href="javascript:void(0)">Tables</a>
              </li>
              <li>
                <a href="javascript:void(0)">Icons</a>
              </li>
              <li>
                <a href="javascript:void(0)">Forms</a>
              </li>
            </ul>
          </div>
        </li>
        <li class="header-menu">
          <span>Extra</span>
        </li>
        <li>
          <a href="javascript:void(0)">
            <img class="m-r-14" src="../../../assets/img/sidebar/settings.svg" alt="settings">
            <span>Project Settings</span>
          </a>
        </li>
        <li>
          <a href="javascript:void(0)">
            <img class="m-r-14" src="../../../assets/img/sidebar/pricing.svg" alt="pricing">
            <span>Team Management</span>
          </a>
        </li>
        <li>
          <a href="javascript:void(0)">
            <img class="m-r-14" src="../../../assets/img/sidebar/briefcase.svg" alt="briefcase">
            <span>Integrations</span>
          </a>
        </li>

        <li>
          <a href="javascript:void(0)">
            <img class="m-r-14" src="../../../assets/img/sidebar/Target.svg" alt="Target">
            <span>Privacy Settings</span>
          </a>
        </li>

        <li>
          <a href="javascript:void(0)">
            <img class="m-r-14" src="../../../assets/img/sidebar/content-paper-edit.svg" alt="content-paper-edit">
            <span>Submissions Settings</span>
          </a>
        </li>

        <li>
          <a href="javascript:void(0)">
            <img class="m-r-14" src="../../../assets/img/sidebar/conversation-chat-1.svg" alt="conversation-chat-1">
            <span>Alert and Notifications</span>
          </a>
        </li>

        <li>
          <a href="javascript:void(0)">
            <img class="m-r-14" src="../../../assets/img/sidebar/pricing.svg" alt="pricing">
            <span>Pricing Plans</span>
          </a>
        </li>

        <li>
          <a href="javascript:void(0)">
            <img class="m-r-14" src="../../../assets/img/sidebar/question-circle.svg" alt="question-circle">
            <span>Help & Feedback</span>
          </a>
        </li>
      </ul>
    </div>
    <!-- sidebar-menu  -->
  </div>
  <!-- sidebar-content  -->

</nav>
