<section class="video mt11">
  <div class="container-fluid">
    <div class="row">
       <div class="col-lg-8 col-md-12 col-sm-12 p-0 column8">

          <iframe width="100%" height="100%" src="https://www.youtube.com/embed/0yGThj4HskA" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen class="video_box"></iframe>


          <!-- <div class="embed-responsive embed-responsive-16by9">
            <iframe title="My Daily Marathon Tracker" id="video" class="embed-responsive-item" src="https://www.youtube.com/embed/0yGThj4HskA" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe>
          </div> -->
        </div>
       <div class="col-lg-4 col-md-12 col-sm-12  column4 bg-white hero">
           <div class="pt-4 pl-0 pr-0">
               <div class="video_section_tile hero">
                   <h4>The Countdown</h4><span>by M S N Karthink</span>
               </div>
               <div class="links">
                   <ul>
                     <li><a href="#" class="round_btn hero">short</a></li>
                     <li><a href="#" class="round_btn bg_pink">sci-fi</a></li>
                   </ul>
                   <div class="cl"></div>
                   <div class="details">
                       <p>
                         Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                       </p>
                   </div>
               </div>
            <div class="tab_menu">
             <nav>
               <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                 <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">film reviews</a>
                 <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">filmmaker info</a>
               </div>
             </nav>
             <div class="tab-content pt-3 pl-1 pr-1 pb-1" id="nav-tabContent">
               <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                  <div class="review_list">
                     <ul>
                       <li>
                         <div class="row">
                             <div class="col-lg-3 col-md-5 col-sm-6  dfs pr-1 hero">
                                   <div class="user">
                                       <img src="../../../../assets/img/user.png" alt="" class="hero img-fluid">
                                   </div>
                             </div>
                             <div class="col-lg-9 col-md-7 col-sm-6 pl-1">
                                   <div class="details">
                                         <h4>Glen Ortega</h4>
                                         <p>This is an amazing film.</p>
                                   </div>
                               </div>
                         </div>
                       </li>
                       <li>
                        <div class="row">
                            <div class="col-lg-3 col-md-5 col-sm-12 dfs pr-1">
                                  <div class="user">
                                      <img src="../../../../assets/img/user.png" alt="" class="img-fluid">
                                  </div>
                            </div>
                            <div class="col-lg-9 col-md-7 col-sm-12 pl-1">
                                  <div class="details">
                                        <h4>Glen Ortega</h4>
                                        <p>This is an amazing film.</p>
                                  </div>
                              </div>
                        </div>
                      </li>
                      <li>
                        <div class="row">
                            <div class="col-lg-3 col-md-5 col-sm-12 dfs pr-1">
                                  <div class="user">
                                      <img src="../../../../assets/img/user.png" alt="" class="img-fluid">
                                  </div>
                            </div>
                            <div class="col-lg-9 col-md-7 col-sm-12 pl-1">
                                  <div class="details">
                                        <h4>Glen Ortega</h4>
                                        <p>This is an amazing film.</p>
                                  </div>
                              </div>
                        </div>
                      </li>
                      <li>
                        <div class="row">
                            <div class="col-lg-3 col-md-5 col-sm-12 dfs pr-1">
                                  <div class="user">
                                      <img src="../../../../assets/img/user.png" alt="" class="img-fluid">
                                  </div>
                            </div>
                            <div class="col-lg-9 col-md-7 col-sm-12 pl-1">
                                  <div class="details">
                                        <h4>Glen Ortega</h4>
                                        <p>This is an amazing film.</p>
                                  </div>
                              </div>
                        </div>
                      </li>
                      <li>
                        <div class="row">
                            <div class="col-lg-3 col-md-5 col-sm-12 dfs pr-1">
                                  <div class="user">
                                      <img src="../../../../assets/img/user.png" alt="" class="img-fluid">
                                  </div>
                            </div>
                            <div class="col-lg-9 col-md-7 col-sm-12 pl-1">
                                  <div class="details">
                                        <h4>Glen Ortega</h4>
                                        <p>This is an amazing film.</p>
                                  </div>
                              </div>
                        </div>
                      </li>
                      <li>
                        <div class="row">
                            <div class="col-lg-3 col-md-5 col-sm-12 dfs pr-1">
                                  <div class="user">
                                      <img src="../../../../assets/img/user.png" alt="" class="img-fluid">
                                  </div>
                            </div>
                            <div class="col-lg-9 col-md-7 col-sm-12 pl-1">
                                  <div class="details">
                                        <h4>Glen Ortega</h4>
                                        <p>This is an amazing film.</p>
                                  </div>
                              </div>
                        </div>
                      </li>
                      <li>
                        <div class="row">
                            <div class="col-lg-3 col-md-5 col-sm-12 dfs pr-1">
                                  <div class="user">
                                      <img src="../../../../assets/img/user.png" alt="" class="img-fluid">
                                  </div>
                            </div>
                            <div class="col-lg-9 col-md-7 col-sm-12 pl-1">
                                  <div class="details">
                                        <h4>Glen Ortega</h4>
                                        <p>This is an amazing film.</p>
                                  </div>
                              </div>
                        </div>
                      </li>

                     </ul>
                  </div>
               </div>
               <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                 <div class="map">
                   <div class="mapouter"><div class="gmap_canvas"><iframe width="100%" height="201" id="gmap_canvas" src="https://maps.google.com/maps?q=hyderabad&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://www.whatismyip-address.com"></a><br><style>.mapouter{position:relative;text-align:right;height:201px;width:100%;}</style><a href="https://www.embedgooglemap.net">embed google map in wordpress</a><style>.gmap_canvas {overflow:hidden;background:none!important;height:201px;width:100%;}</style></div></div>
                 </div>
                 <div class="review_list maker_list">
                   <ul>
                       <li>
                         <div class="row">
                             <div class="col-lg-6 col-md-6 col-sm-12">
                               <div class="detail">
                                 <h5>user</h5>
                                 <p>M S N Karthink</p>
                               </div>

                             </div>
                             <div class="col-lg-6 col-md-6 col-sm-12">
                               <div class="detail">
                                 <h5>Timestamp</h5>
                                 <p>24 Jun, 23:12:00</p>
                               </div>
                             </div>
                         </div>
                         <div class="row">
                           <div class="col-lg-6 col-md-6 col-sm-12">
                             <div class="detail">
                               <h5>Location</h5>
                               <p>Hyderabad,India</p>
                             </div>

                           </div>
                           <div class="col-lg-6 col-md-6 col-sm-12">
                             <div class="detail">
                               <h5>Role</h5>
                               <p>Writer, Director</p>
                             </div>
                           </div>
                       </div>
                       </li>
                       <li>
                          <div class="detail">
                            <h5>FILMMAKER BIOGRAPHY</h5>

                            <p>For many, films are a hobby. For some, they are
                              a passion. But Karthik is a sort of a person,
                              who always lived his life in 24 frames. Films
                              were what shaped him since childhood. He
                              says that he watched Rob Williams in awe, as
                              he stood up on his desk to inspire his students
                              to seize the day, in Dead Poets Society.</p>

                          </div>
                       </li>
                   </ul>
                 </div>

               </div>

             </div>

            </div>
           </div>
       </div>
    </div>

  </div>
</section>
